{% extends 'base.html.twig' %}

{% block title %}Datatable Stimulus Test{% endblock %}

{% block body %}

    {% for _sc, title in {'datatable': 'Using import()', 'dt_require': 'Using require()'} %}
        <h2>{{ title }}</h2>
    <div {{ stimulus_controller(_sc) }}>
        <table id="example"
                {{ stimulus_target(_sc, 'table') }}
               class="display responsive nowrap" style="width:100%">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Extn.</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..50 %}
                <tr>
                    <td>Tiger</td>
                    <td>Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>5421</td>
                    <td>t.nixon@datatables.net</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>

    {% endfor %}

{% endblock %}
